.wrapper {
  min-height: calc(100vh - var(--navbar-height));
  width: 70%;
  margin: auto;
  transition: all 0.3s;
}

h2 {
  margin: 0;
}

.heading {
  margin: 2em 0;
  border-bottom: 2px solid black;
  padding-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
}

.grid_container {
  margin: auto;
}

@media screen and (max-width: 900px) {
  .wrapper {
    width: 85%;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    width: 95%;
  }
}
