.wrapper {
  background-color: var(--black);
  width: 100vw;
  height: var(--navbar-height);
  position: sticky;
  top: 0;
  color: var(--yellow);
}

.content {
  height: 100%;
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content h2 {
  text-align: center;
  margin: 0;
}
